@media only screen and (max-width: 768px) {
    strong{
        color: black !important;
    }
    .navItemBlack{
        background-color: white;
    }

    .navItemWhite{
        background-color: white!important;
    }
}




.logo{
    width: 70px;
    height: 50px;
    padding: 1%;
}

.NavItem{
    font-size: 15px;
    z-index: 1;
}
.navItemWhite:hover{
    background-color: lightgray;
    border-radius: 4px;
}

.navItemBlack:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5));
    border-radius: 4px;
}

.textWhite{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.textBlack{
    color: black !important;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.navbarContainer{
    justify-content: flex-end;
    height: 100%;
}

.navCont{
    height: 90px;
    padding: 0px !important;
}


.navbarNav{
    height: 100%;
    padding-top: 25px;
    padding-right: 20px;
}

a{
    padding: 1%;
    align-self: center;
}

.toggler{
    background-color: rgba(255, 255, 255, 0.5) !important;
    margin-right: 10px;
}


.navbar-light .navbar-toggler-icon{
    background-color: white;
}



